

.tablePage {
  width: 100%;
}

.tableWrapper {
  max-width: 800px;
  margin-right: auto;
  margin-left: auto;
  background-color: #fff;
  height: 300px;
  overflow: scroll;
  position: relative;
}

.tableWrapper.scroll-close::-webkit-scrollbar {
  width: 0;
}

.tableWrapper::-webkit-scrollbar {
  width: 7px;
  height: 7px; /* Mostly for vertical scrollbars */
  border-radius: 25px;
}

.tableWrapper::-webkit-scrollbar-thumb {
  /* Foreground */
  background: #d8d8dcff;
  border-radius: 25px;
}

.tableWrapper::-webkit-scrollbar-track {
  /* Background */
  background-color: #fff;
}

table {
  border-collapse: collapse;
  cursor: pointer;
}

thead {
  position: sticky;
  top: 0;
  background-color: #f5f5f5ff;
  z-index: 2;
  font-size: 17px;
}

th {
  min-width: 100px;
  height: 50px;
}

td {
  border-bottom: 1px solid #f5f5f5ff;
  min-width: 100px;
  height: 50px;
  text-align: center;
  background-color: #fff;
  font-size: 14px;
}

tr td:first-child {
  position: sticky;
  left: 0;
  background-color: #fff;
  color: #000;
  font-size: 15px;
}

tr td:last-child {
  position: sticky;
  right: 0;
  background-color: #fff;
  font-weight: bold;
  color: #000;
  font-size: 15px;
}

tr th:first-child {
  position: sticky;
  top: 0;
  left: 0;
  z-index: 4;
  background-color: #f5f5f5ff;
}

tr th:last-child {
  position: sticky;
  top: 0;
  right: 0;
  background-color: #f5f5f5ff;
  z-index: 2;
}

tr:hover td {
  background-color: #f5f5f5ff;
}

.btn {
  padding: 5px 25px;
  background-color: #1e1e24;
  color: #fff;
  cursor: pointer;
  margin: 2px;
  border: 0;
  border-radius: 4px;
}

input {
  width: 90px;
  height: 25px;
  background-color: #f5f5f5ff;
  border: none;
  text-align: center;
  color: #000;
}

input:focus {
  outline: none;
}