@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@200;300;400;600&display=swap");

* {
  margin: 0;
  margin: 0;
  font-family: "Source Sans Pro", sans-serif;
  box-sizing: border-box;
  list-style: circle;
  outline: none;
  /* background: rgb(104, 249, 104); */
}

:root {
  --blue:#d1cfcf;
  --sidebar-width: 290px;
  --navbar-height: 67px;
  --greenColor:rgba(45, 245, 111, 0.879);
  --color: #797caa;
  --aquaColor:rgb(15, 157, 175);
  --border: 1px solid #f0f0f0;
  --shadow: 0px 0px 12px 0px rgba(73, 75, 116, 0.16);
  /* primary */
  --primaryBgColor:#1677ff;
  --primaryColor:#fff;
  /* dashed */
  --borderDashed:1px dashed black;
  /* danger */
  --dangerBorder:#ff404f;
  --dangerColor:#ff404f;
  --dangerBgColor:#ff404f;


  --main-bg: #fff;
    --body-bg: #fff;
    --text-color: #111517;
    --border-color: #a8a5a5;
    --focus-color: #1052e1;
}
:root {
    --sidebar-width: 290px;
    --navbar-height: 67px;
    --color: #494b71;
    --border: 1px solid #f0f0f0;
    --shadow: 0px 0px 12px 0px rgba(73,75,116,.16);
    --primaryBgColor: #75c4efd0;
    --primaryColor: #fff;
    --borderDashed: 1px dashed #565c61;
    --dangerBorder: 1px solid #ef7d7f;
    --dangerColor: #ee6062;
    --primary: #007bff;
    --secondary: #6c757d;
    --success: #37f062;
    --danger: #d76671e1;
    --warning: #e9f416d2;
    --info: #17a2b8;
    --light: #f8f9fa;
    --dark: #343a40;
    --white: #fff;
    --shadowColor:rgba(73, 75, 116, 0.16);
    --greenShadow:rgba(20, 248, 20, 0.451);
}

::-webkit-scrollbar {
  width: 10px;
  border-radius: 50%;
}

/* Track */
::-webkit-scrollbar-track {
  background: white; 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--primaryBgColor); 
  border-radius: 25px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: var(--primaryBgColor); 
}




ul {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  white-space: nowrap;
  color: #FFF;
}

ul li {
  list-style: none;
  display: inline-block;
  font-size: 50px;
  text-transform: uppercase;
  margin: 0 10px;
  animation: animate 2.5s infinite linear;
}

ul li:nth-of-type(1) {
  animation-delay: 0s;
}

ul li:nth-of-type(2) {
  animation-delay: .2s;
}

ul li:nth-of-type(3) {
  animation-delay: .4s;
}

ul li:nth-of-type(4) {
  animation-delay: .6s;
}

ul li:nth-of-type(5) {
  animation-delay: .8s;
}

ul li:nth-of-type(6) {
  animation-delay: 1s;
}

ul li:nth-of-type(7) {
  animation-delay: 1.2s;
}

ul li:nth-of-type(8) {
  animation-delay: 1.4s;
}

ul li:nth-of-type(9) {
  animation-delay: 1.6s;
}

ul li:nth-of-type(9) {
  animation-delay: 1.8s;
}

@keyframes animate {
  0% {
    filter: blur(0px);
  }

  50% {
    filter: blur(0px);
  }

  100% {
    filter: blur(40px);
  }
}